@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:ital,wght@1,600&family=Noto+Sans&family=Outfit:wght@300;400;800&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
html {
    height: auto;
    background: rgb(0, 21, 34);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#root {
    height: 100%;
}

.footer {
    margin-top: auto;
    font-family: 'Noto Sans', sans-serif;
    padding: 0px 0px 15px 0px;
    font-size: 10px;
}